@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

body{
  width: 750px;
  margin: 50px 600px 200px 400px;
  line-height: normal;
  margin-bottom: 60px;

  /* background-image: url(img/image.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 800px; */

  font-family: "PT Sans", Proxima Nova, Arial, sans-serif;
  font-size: 25px;
}

h1 {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.headline {
  font-size: 50px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.first {
  font-size: 23px;
  color: #999999;
  line-height: 30px;
}

.second-headline {
  margin: 20px 0px 20px 0px;
}

.paragraph2 {
  margin: 20px 0px 20px 0px;
}


/*
@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

body{
  width: 750px;
  margin: 50px 600px 200px 400px;
  line-height: normal;
  margin-bottom: 60px;
  font-family: "PT Sans", Proxima Nova, Arial, sans-serif;
  font-size: 25px;
} */

.headline {
  font-size: 50px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.h2 {
  color: Black;
  font-size: 40px;
  font-weight: bold;
  margin: 40px 0px 10px 0px;
}

.paragraph {
  font-size: 23px;
  color: #999999;
  line-height: 30px;
  margin: 20px 0px 20px 0px;
}

.paragraph {
  font-size: 23px;
  color: #999999;
}

.paragraph3 {
  margin: 15px 0px 15px 0px;
}

.p1 {
  margin: 0px 0px 15px 0px;
}

.p2 {
  margin: 0px 0px 0px 0px;
}

.ul {
  list-style-type: disc;
  margin: 20px 20px 20px 25px;
}

.link {
text-decoration: underline;
color: black;
}

.p5 {
  font-weight: bold;
}
