@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "PT Sans", helvetica, Proxima Nova, Arial;
  font-size: 25px;
  line-height: 1.2;
}
h1 + p {
  color: grey;
  font-size: 22px;
}

h1,
h2,
p,
ul,
h3,
h4,
h5,
h6,
ol{
margin: 0 auto;
width: 800px;
}

h1 {
  color: Black;
  font-size: 60px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
}

h2 {
  color: Black;
  font-size: 40px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 15px;
}

h3 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
}

h4{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

h4 + p{
  margin-top: 10px;
  margin-bottom: 20px;
}

.h123{
  list-style-type: none;
  margin-top: 60px;
}

a {
  color: black;
}

li {
  margin-bottom: 0.6em;
}

.ul1{
  margin-bottom: 40px;
}

img{
width: 900px;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 300px;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.link{
  color: grey;
}

ul {
  list-style-type: none;
  position: relative;
  left: 20px;
}
 ul::after{
   position: absolute;
   left: -20px;
 }

 nav {
   list-style-type: none;
   position: fixed;
   shadow: 10px 10px 10px grey;
   font-size: 17px;
   z-index: 2;
   top: 0;
   left: 0;
   padding: 20px 30px;
   opacity: 0.5;
   background-color: #fff;
   box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
 }

nav:hover {
  color: inherit;
  opacity: 1;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.25);
}

nav a{
  text-decoration: none;
  color: inherit;
}

nav ul {
  width: 300px;
}

nav > ul> li:first-child {
  font-weight: bold;
}

nav ul li {
  margin-bottom: 15px;
}

nav ul li ul{
  margin-top: 15px;
  margin-left: 25px;
  color: blue;
}

nav ul li ul a:hover {
  color: blue;
}

/* a:hover {
  color: red;
}
a:visited {
  color: grey;
} */

/* blockquote{
  position: relative;
  margin-top: 20px;
  font-style: italic;


}

blockquote::after{
  position: absolute;
  left: -20px;
  content: "";
}

blockquote::before{
  position: absolute;
  left: 20px;
  content: "";
} */
